.custom_sidebar_bg {
    background-image: url(../img/sidebar-bg.png);
}
.custom_h_100 {
    height: 100%;
}
.search-icon {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px;
    flex: 1 1 auto;
    background-color: rgb(229, 229, 229);
    border:none
}
.search-bar {
    display: flex;
    flex: 1 1 auto;
    gap: 1%;
    align-items: center;
}
.bi-bell-fill {
    color: rgb(255, 143, 0);
}
img.logo-size {
    width: 100%;
}
.home, .chart, .signal {
    display: flex;
    justify-content: space-evenly;
}

.custom_fs-10 {
    font-size: 10px;
}
.custom_fs-12 {
    font-size: 12px;
}
.custom_fs-14 {
    font-size: 14px;
}
.custom-breadcrumb {
    list-style: none;
    display: flex;
    gap: 1%;
    padding-left: 0;
    align-items: center;
}
.custom-breadcrumb img {
    width: 15px;
}
.add-student {
    align-items: center;
    gap: 10%;
    padding-bottom: 15%;
}
.avatar-dimension {
    width: 10%;
    margin-right: 2%;
}
.custom-button {
    --bs-btn-color: rgb(108, 117, 125);
    --bs-btn-bg: white;
    font-size: 14px;
    padding: 3% 6%;
}
.custom-badge {
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 20px;
    width: 50px;
}
.custom_no_p_lr {
    padding-left: 0;
    padding-right: 0;
}

